* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  //   height: 100%;
}

#root {
  //   height: 100%;
}
a {
  color: #333;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  //   min-height: 100%;
  margin: 0 auto;
  color: #555;
}

.page-container {
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: center;
  //   flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 100px;
}
.header {
  background-image: url('./assets/background-header-2.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 50px;
  margin-bottom: 80px;
}
h1 {
  color: #fff;
  margin-bottom: 20px;
  //   width: 100%;
  text-align: center;
  letter-spacing: 3px;
  text-transform: lowercase;
  //   background: #e6e49f;
  padding: 20px;
}

h2 {
  color: #333;
  margin-bottom: 50px;
  //   width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
}
.h2-inverse {
  color: #fff;
}
h3 {
  color: #333;
  margin-bottom: 25px;
  //   width: 100%;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.intro {
  width: 80%;
  margin: auto;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 30px;
  margin-bottom: 20px;
}

.wrapper-map {
  box-shadow: 1px 1px 28px 8px lightgrey;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 75px;
}

.list {
  display: flex;
}

.card {
  width: 300px;
  box-shadow: 1px 1px 28px 8px lightgrey;
  margin: 0 20px;
}

.photo {
  display: flex;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  background-size: cover;
  justify-content: flex-end;
  align-items: flex-end;
  color: #333;
  padding: 10px 20px;
  transition: background-image 0.5s;
}

.photo-1 {
  background-image: url('./assets/map.png');

  &:hover {
    background-image: url('./assets/prokop-1.jpg');
    color: #fff;
  }
}
.photo-2 {
  background-image: url('./assets/map-2.png');

  &:hover {
    background-image: url('./assets/ride-2.jpg');
    color: #fff;
  }
}
.photo-3 {
  background-image: url('./assets/map-3.png');

  &:hover {
    background-image: url('./assets/ride-3.jpg');
    color: #fff;
  }
}

.description {
  display: flex;
  width: 100%;
  height: 85px;
  padding: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.description-ride {
  //   margin: auto;
  line-height: 24px;
  width: 90%;
  margin-bottom: 30px;
}
.kilometers {
  color: #828282;
}
.center {
  margin: auto;
  margin-bottom: 30px;
}

.wrapper-video {
  margin-bottom: 30px;
}

.wrapper-stats {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 90%;
  margin: 0 auto 30px auto;
}
.wrapper-photos {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;

  img {
    width: 325px;
  }
}

.item-stats {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 10px;
  box-shadow: 1px 1px 15px 1px lightgrey;
}
.testimonial {
  font-style: italic;
}
.button {
  color: #fff;
  background: green;
  display: flex;
  margin: 30px auto;
  padding: 15px 20px;
  border-radius: 35px;

  a {
    color: #fff;
  }
}
.location {
  font-size: 15px;
  width: 100%;

  color: #828282;
}

.filters {
  margin-bottom: 50px;
  a {
    text-decoration: underline;
  }
}
